@import url(./colour.css);

.faq-main{
    margin-top: 2rem;
}
.QandA-main{
    margin-top: 2rem;
}
.QandA{
    li{
        list-style: disc;

        p{
            font-style: italic;
        }
    }
}

.add-q{
    position: relative;
}
.add-q .btn-cstm{
    position: fixed;
    bottom: 7rem;
    right: 3rem;

    width: 50px;
    height: 50px;
    color: var(--primary-dark);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--accent-light);
    box-shadow: 2px 2px 10px var(--med-bg);
    &:hover{
        color: var(--accent-dark);
        border: 1px solid var(--primary-dark);
        box-shadow: 4px 4px 8px var(--med-bg);
    }
}